h1 {
  margin-left: 2%;
  margin-top: 2%;
}
span {
  margin-left: 20px;
  font-style: italic;
}
div{
  margin-left: 4%;
  margin-bottom: 2%;
  border: 2px solid black;
  min-height: 12%;
  max-width: 92%;
}
h2 {
  margin-left: 4%;
}
