<h1>Work Order - #{{id}} <span>Active <-This is will be populated from an API call</span></h1>
<h2>Location Information:</h2>
<div>
<!--  The name of the school will be a link to "school/:name"-->
  This is will be populated from an API call
</div>
<h2>Description of work needed:</h2>
<div>
  This is will be populated from an API call
</div>
<h2>Personnel Involved:</h2>
<div>
  This is will be populated from an API call
</div>
<h2>Description of work done:</h2>
<div>
  This is will be populated from an API call
</div>
